[JuPy: Table of Contents](00_Introduction.ipynb#TOC)

# A 9. Sequential Data Types: Exercises


## Part A: Output
---
### Exercise 1: `in` and `not in`
Please output for the by `;` serparated values whether they are elements of the variables of different sequential data types below:

---
- 12.6; 25.5

In [ ]:
temperature = [25.6, 23,4, 9.4, 12.6, 19.1]

# your solution


# end of your solution

---
- "e"; "z"; " "

In [ ]:
myString = "Die Ärzte"  # a German band

# your solution


# end of your solution

---
- "Die"; " Die"; "eÄ"

In [ ]:
myString = "Die Ärzte"  # a German band

# your solution


# end of your solution

---
- ("Max Mustermann"); ("Max")

In [ ]:
myTuple = ("Max Mustermann", "46 years", "82 kg")

# your solution


# end of your solution

---
### Exercise 2: The Length 
Print the length of the following variables:

In [ ]:
myString = "Die Ärzte"  # a German band

# your solution


# end of your solution

---

In [ ]:
temperature = [25.6, 23,4, 9.4, 12.6, 19.1]

# your solution


# end of your solution

---

In [ ]:
myTuple = ("Max Mustermann", "46 years", "82 kg")

# your solution


# end of your solution

---
### Exercise 3: Accessing Elements
Please print the specified elements of the variables. Please access the variable only once, i.e. make use of slicing when possible.

- The 2nd element; the last element

In [ ]:
myString = "Die Ärzte"  # a German band

# your solution


# end of your solution

---
- The elements at index 1 and index 2

In [ ]:
myTuple = ("Max Mustermann", "46 years", "82 kg")

# your solution


# end of your solution

---
- The first to the last element with step size of 2
- The third to the last element with step size of 3

In [ ]:
temperature = [25.6, 23,4, 9.4, 12.6, 19.1]

# your solution


# end of your solution

---
## Part B: Concatenation
---
### Exercise 4:

- Given are the following two strings. Concatenate these strings into a third string and print the result. Implement two versions, one with and one without a blank between the two original strings.

In [ ]:
a = "Die"
b = "Ärzte"

# your solution


# end of your solution

---
- Given are the following two lists with numbers. Concatenate these lists, store the result in a third list and print this list.

In [ ]:
liste1 = [12,45,38,7,55]
liste2 = [30,19,2,64,24]

# your solution


# end of your solution

---
The operator `*` is used to concatenate the same variable (list, tuple or string) $n$-times, e.g. `myList*n`. Please note that `n` must be an integer value. If $n\leq0$ the result will be empty. 

- Print the specified string 3 times in a row (without blanks. etc) and extend the specifed list by itselt. Use the `*` operator.

In [ ]:
theString = "Hallo!"
theList = [1,2,3]

# your solution


# end of your solution

---
## Part C: List Methods and Operations
---
### Exercise 5: Replacing Values
It is possible to replace (overwrite) list values using the direct access via the index. 

In the simle case one value is replaced. Execute the following cell and observe the result. Add code to replace the 3rd and the last value in the list with 13 and print the result.

In [ ]:
theList=list(range(1,6))
print(theList)
theList[1]=99
print(theList)

---
Using slicing one can replace several values in a list at ones. The new values must be passed as an iterable (e.g. a sequential data type or `range()`) .

In [ ]:
theList=list(range(1,6))
print(theList)
theList[1:3]=[99,111]
print(theList)

If the iterable has less or more values than values to be replaced, the number of list elements will decrease or increase accordingly. 

Copy the code above and modify it by replacing the two list elements first with five and then with 1 element. Run the code and observe the result.

In [ ]:
# replacing with 5 elements
# your solution


# end of your solution

In [ ]:
# replacing with 1 element
# your solution


# end of your solution

**Hint:** In case you use the step size in the slicing expression, the number of new elements must correspond to the number of elements to be replaced. Otherwise an error will occur.

---
### Exercise 6: Deleting Values

The method `pop()` deletes a value and returns it.

Create a list from 1 to 10 using `list()` and `range()` (see [Exercise: `range()`](06b_ForLoop_Exercises.ipynb#listrange)). Delete the value 4 using `pop()` and print the list. Then delete the 10 using `pop()` and print the list. Then call the method `pop()` without specifying a parameter, save the return value and print the return value and the list. What does the output look like?

In [ ]:
# your solution


# end of your solution

---
Use `remove()` to delete the first occurence of "o" in the specified list and print the result.

In [ ]:
myList = list("chocolate")
print(myList)

# your solution


# end of your solution

---
Create a list from the word "chocolate" following above code. Write code to delete all "o"'s from the list. Use a `while` loop as well as `in`. Print the resulting list.

In [ ]:
# your solution


# end of your solution

---
### Exercise 7: Inserting New Elements

Create a list with values from 9 to 16. Insert a value at index 2 and a value between the values 14 and 15. Print the list after each insertion.

In [ ]:
# your solution


# end of your solution

---
Create a list with values from 1 to 4. Use `append()` to append a list with two values (specified using `[]`). Print the resulting list and its length. What do you observe?

In [ ]:
# your solution


# end of your solution

---
Create a list with values from 1 to 4. Use `extend()` to extend it by a list with two values (specified using `[]`). Print the resulting list and its length. Compare the output with the output above. What do you observe? What is the difference between `append()` and `extend()`?

In [ ]:
# your solution


# end of your solution

---
### Exercise 8: Error Analysis
The following code shall illustrate the difference between `append()` and `extend()` but it contains an error. Correct the code and run it to compare the outputs.

In [ ]:
list1=(1,2)
list2=(1,2)

list1.append('Hallo')
list2.extend('Hallo')

print("list1.append('hallo')")
print('list1:', list1)
print('len(list1):',len(list1))
print("\nlist1.extend('hallo')")
print('list1:', list2)
print('len(list1):',len(list2))

---
### Exercise 9: Error Analysis
Correct the following code so that the sum of the values is calculated and printed. 
You may wish to take a look at the documentation (https://docs.python.org/3/library/math.html) or chapter 
[8. Functions](08a_Functions_Theory.ipynb#math).

In [ ]:
import math
print(math.fsum(1,2,34))


---
**Congratulations!**  You finished this chapter.

Link to the next chapter: [10. `NumPy` - Arrays](./10a_NumPy_Theory.ipynb)

<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">JuPy Python Course</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">EAH Jena</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.